@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f0ece3;
}
.logo-size {
    width: 150px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    max-height: 50px; /* Ensure image height does not affect the navbar */
}
/* animations */
.animate__fadeInSlow {
    animation-duration: 4s; 
  }

  .animate__fadeInSlower {
    animation-duration: 3s;
  }

  .animate__slow {
    --animate-duration: 0.75s;
  }

  /* underline hover */
.underline-from-center {
    @apply relative overflow-hidden;
  }
  
  .underline-from-center::after {
    content: '';
    @apply absolute w-0 h-0.5 bottom-0 left-1/2 bg-[#F0ECE3] transition-all duration-300 ease-out;
  }
  
  .underline-from-center:hover::after {
    @apply w-full left-0 bg-[#C7B198];
  }

  .font-custom-cursive {
    font-family: 'Dancing Script', cursive; 
  }

  /* property-type css  */
    @media (min-width: 300px) {
        .property-type-container{
            max-width: 330px;
        }
    }

    @media (min-width: 576px) {
        .property-type-container{
            max-width: 530px;
        }
    }
    @media (min-width: 768px) {
        .property-type-container{
            max-width: 700px;
        }
    }

    @media (min-width: 992px) {
        .property-type-container{
            max-width: 945px;
        }
    }
    @media (min-width: 1024px) {
        .property-type-container{
            max-width: 1000px;
        }
    }
    @media (min-width: 1280px) {
        .property-type-container{
            max-width: 1220px;
        }
    }
    @media (min-width: 1536px) {
        .property-type-container{
            max-width: 1480px;
        }
    }
    @media (min-width: 1920px) {
        .property-type-container{
            max-width: 1680px;
        }
    }

/* Add this to your global CSS file */
.group-hover\:opacity-100:hover .slick-slide {
    opacity: 1 !important;
  }
  
  .group-hover\:pointer-events-auto:hover .slick-slide {
    pointer-events: auto;
  }
  